<p id="notice"><%= notice %></p>

<h1>SMS</h1>

<table>
  <thead>
    <tr>
      <td>From</td>
      <td>To</td>
      <td>Message</td>
    </tr>
  </thead>

  <tbody>
    <% @sms.each do |sm| %>
      <tr class="hate_<%= sm.is_hate %>">
        <td><%= sm.readble_offender %></td>
        <td><%= sm.readble_victim %></td>
        <td><%= sm.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<%= link_to 'New SMS', new_sm_path %>
